$dark_veryDarkBlue: hsl(235, 21%, 11%);
$dark_veryDarkDesaturatedBlue: hsl(235, 24%, 19%);
$dark_brightGrayishBlue: hsl(234, 39%, 85%);
$dark_lightGrayishBlue-hover: hsl(236, 33%, 92%);
$dark_grayishBlue: hsl(234, 11%, 52%);
$dark_veryDarkGrayishBlue: hsl(233, 14%, 35%);
$dark_veryDarkGrayishBlue: hsl(237, 14%, 26%);
$bright-blue: hsl(220, 98%, 61%);
$check-background: linear-gradient( #57ddff, #c058f3);

$light-very-light-gray: hsl(0, 0%, 98%);
$light-very-light-grayish-blue: hsl(236, 33%, 92%); 
$light-light-grayish-blue: hsl(233, 11%, 84%);
$light-dark-grayish-blue: hsl(236, 9%, 61%); 
$light-very-dark-grayish-blue: hsl(235, 19%, 35%);


$standard-item-height: 50px;
$br-standard: 8px;