@import 'variables';

.section-tasks {
    position: relative;
    width: 100%;
    height: 60vh;
    background-color: $dark_veryDarkDesaturatedBlue;
    border-radius: $br-standard;
    transition: .3s;
    &.light {
        background-color: $light-very-light-gray;
    }
    &__tasks-wrapper {
        width: 100%;
        height: calc(100% - $standard-item-height);
        overflow-y: scroll;
    }

    &__tasks-info {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: $standard-item-height;
        border-top: 1px solid $dark_veryDarkGrayishBlue;
        color: $dark_grayishBlue;
        p.clearCompleted {
            cursor: pointer;
        }
        p.clearCompleted:active {
            color: $bright-blue;
        }
        &.light p {
            color: $light-very-dark-grayish-blue;
        }
    }
    &__task {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid $dark_veryDarkGrayishBlue;
        color: $dark_brightGrayishBlue;
        &.light {
            border-color: $light-dark-grayish-blue;
        }
    }
    &__task-checkbox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        border: 1px solid $dark_veryDarkGrayishBlue;
        border-radius: 50%;
        cursor: pointer;
        &.isDone {
            background: $check-background;
        }
        &.light {
            border-color: $light-dark-grayish-blue;
        }    
    }
    &__task-text {
        &.isDone {
            color: $dark_grayishBlue;
           text-decoration: line-through;
           &.light{
            color: $light-light-grayish-blue;
           }
        }
        &.light {
            color: $light-very-dark-grayish-blue;
        }
    } 
    &__task-cross {
        cursor: pointer;
    }
}
